@charset "utf-8";

/* General */
body {
    font-family: "Montserrat", sans-serif;
    color: #333;
    background-color: #f7f7f7;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2rem;
}

header h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    margin: 0;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #eee;
    font-weight: bold;
    padding: 1rem;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

nav a.active {
    color: #fff;
    background-color: #333;
    border-radius: 5px;
}

/* Sections */
section {
    margin: 3rem 0;
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #ddd;
}

section h2 {
    font-size: 2rem;
    margin: 0 0 1rem;
}

section ul {
    padding: 1;
    margin: 0.5rem 0;
}

section ul li {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

section ul li a {
    color: #003399;
    transition: color 0.3s ease;
}

section ul li a:hover {
    color: #aaa;
}

/* Links */
a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
}

a:hover {
    color: #aaa;
}

/* Responsive */
@media only screen and (max-width: 600px) {
    nav {
        display: none;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    nav a {
        display: none;
        padding: 0.5rem 0;
    }

    nav a:hover {
        display: none;
        background-color: #333;
        color: #fff;
        border-radius: 5px;
    }
    
    nav a.active {
        display: none;
        color: #fff;
        background-color: #333;
        border-radius: 5px;
    }
}