@charset "utf-8";

/* Header */
header {
background-color: #333;
color: #fff;
text-align: center;
padding: 2rem;
}

header h1 {
font-size: clamp(2.5rem, 5vw, 4rem);
margin: 0;
font-family: "Montserrat", sans-serif;
}

/* Navigation */
nav {
background-color: #3D4C63;
display: flex;
justify-content: center;
align-items: center;
gap: 2rem;
padding: 1rem;
}

nav a {
color: #fff;
text-decoration: none;
font-size: clamp(1.2rem, 2vw, 1.5rem);
transition: all 0.2s ease-in-out;
font-family: "Montserrat", sans-serif;
padding: 1rem;
}

nav a:hover {
transform: translateY(-2px);
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

nav a.active {
background-color: #4CAF50;
color: white;
border-radius: 0.5rem;
padding: 1rem 2rem;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
nav {
flex-direction: column;
}
}

@keyframes pulse {
from {
transform: scale(1);
}
to {
transform: scale(1.05);
}
}